<div class="row p-0 mx-0 mt-0">
    <div class="col-4 col-md-2 p-0 pr-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <input type="submit" class="btn btn-success btn-block" />
        </div>
    </div>
</div>

@code
{
    

}
