@page "/testpage"
<h3>@Knappen</h3>
<button type="submit" @onclick="Clicked">Trykk</button>

<input type="button" class="btn btn-success" @onclick="Clicked" value="Details" />

@code {
    [Parameter]
    public string Knappen { get; set; }

    private void Clicked(MouseEventArgs e)
    {
        Knappen = "Tore";
        StateHasChanged();
    }
}