@*<input type="text" @bind="@_rating" />*@


<h4 class="text-warning font-weight-bold pt-4">
    Giva <span style="border-bottom: 1px solid #ff6a00"> rating</span>
    <input type="number" name="rating" id="rating" @bind="@_rating"
           min="1" max="5" step="1">
    to @Freelancer.FirstName
</h4>
<button class="btn btn-success" @onclick="ChangeRating">Rate!</button>

@*<button @onclick="ChangeRating">Rating!</button>*@


@code {

    private int _rating;

    [Parameter]
    public RatingDto NewRating { get; set; }


    [Parameter]
    public EventCallback<RatingDto> OnClickCallback { get; set; }

    [Parameter]
    public FreelancerDto Freelancer { get; set; }


    private async Task ChangeRating()
    {
        NewRating = new()
        {
            FreelancerId = Freelancer.FreelancerId,
            RatingValue = _rating//Convert.ToInt32(_rating)
        };

        await OnClickCallback.InvokeAsync(NewRating);
    }

}