@page "/freelancer"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Freelancers</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="/freelancer/create" class="btn btn-info" form-control>Add Freelancer</NavLink>
    </div>
</div>

@code {

}
