@page "/assignments"

<div class="mt-2">
    <div class="row col-12">
        <div class="col-9 d-flex align-items-center">
            <h4 class="card-title text-info">
                Assignments
            </h4>
        </div>
        <div class="col-3 float-right">
            <NavLink href="assignment/create" class="btn btn-info form-control">
                Add New Assignment
            </NavLink>
        </div>
    </div>
</div>


@code {

}
