body {
    /*background: url("../img/freelancer.jpg") no-repeat left top, linear-gradient(#eb01a5, #d13531);*/
    background: linear-gradient(180deg, rgba(5, 39, 103, 0.92) 0%, rgba(58, 6, 71, 0.92)70%), url("../img/freelancer.jpg") no-repeat;
    background-size: cover;
}

.form-container {
    text-align: center;
}

.identity-icon {
    width: 60px;
}

.form-button {
    width: 100%;
}

.form-section {
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    border-radius: 4px;
}