@page  "/payment"
@using HIN_ventures.Common;
@using HIN_ventures.Server.Service.IService
@inject ICrytoService _cryptoService

<h3>Current Funds</h3>

@*<div class="bg-light border p-2">
    HIN-Ventures current funds: @HinVenturesBalance Dogecoin
    <br />
    TestFreelancer current funds: @FreelancerBalance Dogecoin
</div>*@

<div class="row p-0 mx-0 mt-0">
    <div class="col-4 col-md-2 p-0 pr-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <input type="submit" value="Go to transfer" @onclick="@(async () => await TransferCrypto())" class="btn btn-success btn-block" />
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string HinVenturesBalance { get; set; }

    [Parameter]
    public double FreelancerBalance { get; set; }

    protected override async Task OnInitializedAsync()
    {

        CryptoDto request = new()
        {

            api_key = SD.ApiKey,
            from_labels = "HIN-Ventures",
            to_labels = "Ben_Reddik",
            amounts = "1"
        };

        await _cryptoService.CreateTransaction(request);


        await base.OnInitializedAsync();


    }

    public async Task TransferCrypto()
    {
        // await Task.Delay(5000);
        CryptoDto request = new()
        {

            api_key = SD.ApiKey,
            from_labels = "HIN-Ventures",
            to_labels = "Ben_Reddik",
            amounts = "1"
        };

        await _cryptoService.CreateTransaction(request);
    }

}