<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="mr-1" src="/img/work-from-home.png" style="width: 30px; margin-top: -12px;"/>
                <span>HIN-ventures</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="register">
                            Register
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Login">Login</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
